<div class='container'>
  <div class="my-4">
    <p class="h2">お問い合わせありがとうございました</p>
  </div>
  <p>
    この度は、当サイトにお問い合わせいただきありがとうございました。
  </p>
  <p class="pb-3">
    ご確認のため、お客様に自動返信メールをお送りしております。
  </p>

  <div>
    <%= link_to "トップページにもどる", home_root_path, class:"btn btn-primary btn-sm", style:'' %>
  </div>
</div>
