<div class="container pt-4">
  <h1 class="h2">導入手順</h1>
  <p class="mb-1">1. LINEアプリの友だちタブを開き、画面右上にある友だち追加ボタン＞[QRコード]をタップして、コードリーダーでスキャンしてください。</p>
  <img src="/alertman/images/line_qr.png" style="height: 300px;">
</div>
