<div class="container pt-4">
  <h1 class="h2">導入手順</h1>
  <p class="mb-1">1. LINEアプリの友だちタブを開き、画面右上にある友だち追加ボタン＞[QRコード]をタップして、コードリーダーでスキャンしてください。</p>
  <img src="https://qr-official.line.me/gs/M_214ufvrm_GW.png?oat_content=qr">
</div>
