<title>アラートくん</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet">
<meta property="og:image" content="/images/og_logo.png" />
<meta name="description" content="Webサービスが稼働しているかを定期的にチェックし、停止した場合はLINEで通知するサービスです">
<meta name="og:description" content="Webサービスが稼働しているかを定期的にチェックし、停止した場合はLINEで通知するサービスです">
<meta property="og:title" content="アラートくん">
<%# <meta property="og:site_name" content="alertman.info"> %>
<meta property="og:locale" content="ja_JP">
<meta property="og:type" content="website">
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
